# Archivos de IDE MCUXpresso
.metadata/
*.launch
*.log
*.bak
*.elf
*.axf
*.map
*.bin
*.hex
*.o
*.d
*.crf
*.srec

# Carpetas de compilación
Debug/
Release/

# Archivos temporales de Eclipse
.settings/
.cproject
.project

# Otros
.vscode/
.idea/